body {
    font-family: 'Arial', sans-serif;
    background-color: #0e1135;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0e1135;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Deeper shadow for depth */
}

h1.Login-word {
    text-align: center;
    color: #aebac0;
    font-size: 2.5em; /* Increase font size */
    margin-bottom: 20px; /* Space below heading */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    color: rgb(27, 14, 14);
    background-color: #06f7ff; /* Discord blue */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Include transform for button */
}

.btn:hover {
    background-color: #5b6eae; /* Darker shade on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}

.guild-list {
    margin-top: 20px;
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Round the corners of the list */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Enhanced shadow for depth */
    background-color: #0e1135; /* Slightly lighter background */
    color: white; /* Change text color to white for contrast */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guild-item {
    background-color: #2b2f4d; /* Darker item background */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s; /* Smooth transition */
}

/* Hover effect */
.guild-item:hover {
    transform: translateY(-5px); /* Lift effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
    background-color: #3a3f5b; /* Lighter background on hover */
}

.guild-item h2 {
    margin: 0;
    color: #fafafa;
    font-size: 1.5em; /* Slightly larger font */
    transition: color 0.3s; /* Smooth color transition */
}

/* Change color on hover */
.guild-item:hover h2 {
    color: #f0e68c; /* Light color on hover */
}

.guild-item p {
    color: #b0b3b7; /* Subtle color for additional text */
    font-size: 1em; /* Standard font size */
    margin-top: 5px; /* Space above paragraph */
}
